* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    font-family: 'Arial', sans-serif;
    background-color:  #f8f3e6;
  }
header {
    background-color: #66c7c3;
    color: #fff;
    padding: 2%;
    text-align: center;
  }
h1 {
    font-family: 'Comic Sans MS', cursive;
}
main {
    max-width: 650px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
h2 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
  }
label {
    margin-bottom: 8px;
  }
input {
    padding: 8px;
    margin-bottom: 16px;
  }
.options {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
.option {
    margin-bottom: 10px;
  }
.question {
    margin-bottom: 20px;
  }
.textInput {
    width: 100%;
  }
select {
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#buttonContainer {
    text-align: center;
}
button {
    background-color: #ff6f69;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
button:hover {
    background-color: #ff4e43;
  }
.required::after {
    content: '*';
    color: red;
    margin-left: 4px;
  }
#summaryContainer {
    display: none;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
#correctAnswers {
    font-weight: bold;
    color: #008000; 
  }
#totalQuestions {
    margin-top: 10px;
    font-weight: bold;
  }
#answersList {
    margin: 20px 0 0 20px;
    padding: 0;
  }
#answersList li {
    margin-bottom: 5px;
  }
#answersList ul {
    list-style-type: disc;
    margin-left: 20px;
  }
#errorQuestionValidation {
    margin-bottom: 20px;
    color: red;
  }
#errorMessages {
    background-color: #ffecec; /* Light red background color */
    color: #d93025; /* Dark red text color */
    border: 1px solid #d93025; /* Dark red border */
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
#errorMessages p {
    margin: 0;
  }